* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navbar {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#93bfb7), to(#387373));
  background-image: linear-gradient(to top, #93bfb7, #387373);
}

.navbar .navbar-brand {
  color: #000;
  font-family: "New Rocker";
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .navbar-brand:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 992px) {
  .navbar .navbar-brand {
    font-size: 2rem;
  }
}

.navbar .nav-link {
  color: #000;
}

.navbar .nav-link:hover {
  font-weight: 500;
}

@media (min-width: 992px) {
  .navbar .nav-link {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 70px;
  }
}

.footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#93bfb7), to(#387373));
  background-image: linear-gradient(to top, #93bfb7, #387373);
}

.footer .footer__social-a {
  color: #2D3E40;
  font-size: 1.5rem;
}
