* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navbar .navbar-brand {
  color: #000;
  font-family: "New Rocker";
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .navbar-brand:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 992px) {
  .navbar .navbar-brand {
    font-size: 2rem;
  }
}

.navbar .nav-link {
  color: #000;
}

.navbar .nav-link:hover {
  font-weight: 500;
}

@media (min-width: 992px) {
  .navbar .nav-link {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 70px;
  }
}

.footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#93bfb7), to(#387373));
  background-image: linear-gradient(to top, #93bfb7, #387373);
}

@media (min-width: 768px) {
  .footer .footer__contact-p {
    font-size: 1.3rem;
  }
}

.footer .footer__social-a {
  color: #2D3E40;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .footer .footer__social-a {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .footer .footer__social-a {
    font-size: 2.4rem;
  }
}

.carouselMod {
  height: 500px;
}

.index__card-img1 {
  width: 100%;
  height: 100%;
}

.index__card-title {
  font-size: 1rem;
}

.index__card-text {
  font-size: .75rem;
}

.headerMod {
  background-image: url(../../assets/images/header-bg1.jpg);
  background-size: cover;
  background-position: center center;
  height: 350px;
}

#parallax1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff fixed no-repeat 50% 50%;
  background-image: url(../../assets/images/aboutus1.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
}

#parallax1 div h3 {
  color: #c7c7c7;
}

#parallax2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff fixed no-repeat 50% 50%;
  background-image: url(../../assets/images/index__resto-front.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
}

#parallax2 div h3 {
  color: #c7c7c7;
}
