.carouselMod {
    height: 500px;
}

.index__card-img1 {
    width: 100%;
    height: 100%;
}

.index__card-title {
    font-size: 1rem;
}

.index__card-text {
    font-size: .75rem;
}



.headerMod {
    background-image: url(../../assets/images/header-bg1.jpg);
    background-size: cover;
    background-position: center center;
    height: 350px;

    .navbarMod {

    }

    .boxTitle {

    }

}

.cardBox  {

    .cardMod {
        
    }

}


#parallax1 {
 display: flex;
 background: #fff fixed no-repeat 50% 50%; 
 background-image: url(../../assets/images/aboutus1.jpg);
 background-size: cover;

 width: 100%;
 height: 200px;

    div {
        h3 {
            color: #c7c7c7;
        }
    }

}


#parallax2 {
     display: flex;
     background: #fff fixed no-repeat 50% 50%; 
     background-image: url(../../assets/images/index__resto-front.jpg);
     background-size: cover;
    
     width: 100%;
     height: 200px;
    
        div {
            h3 {
                color: #c7c7c7;
            }
        }
    
    }



    

