.headerMod {
    background-image: url(../assets/images/header-bg1.jpg);
    background-size: cover;
    background-position: center center;
    height: 350px;
    margin-top: 69px;

    @media (max-width: 992px) {
        margin-top: 0;
    }

}
.cardContent {
    .cardImg {
        @media (min-width: 1024px) {
            width: 400px;
            height: 400px;
        }
    }
}
.offCanvasBg {
    background-image: linear-gradient(to top, $verdeClaro, $verdeMedio);
    height: 56px;
}
#parallax1 {
 display: flex;
 background: #fff fixed no-repeat 50% 50%; 
 background-image: url(../assets/images/aboutus1.jpg);
 background-size: cover;
 width: 100%;
 height: 200px;
 @media (min-width: 768px) {
    height: 350px;
}
 @media (min-width: 1024px) {
    height: 450px;
}
    div {
        h3 {
            color: #c7c7c7;
        }
    }
}
#parallax2 {
     display: flex;
     background: #fff fixed no-repeat 50% 50%; 
     background-image: url(../../assets/images/index__resto-front.jpg);
     background-size: cover;
     width: 100%;
     height: 200px;
     @media (min-width: 768px) {
        height: 350px;
    }
     @media (min-width: 1024px) {
        height: 450px;
    }
        div {
            h3 {
                color: #c7c7c7;
            }
            .button {
                color: $blanco;
                outline-color: $blanco;
                font-size: 1rem;   
                &:hover {
                    color: $verdeOscuro;
                }
                &::before {
                    background-color: $blanco;
                }
            }
        }
}



    

