.navbar {
    background-image: linear-gradient(to top, $verdeClaro, $verdeMedio);



    .navbar-brand {
        color: #000;
        font-family: $brandFont;
        transition: all .3s;


        &:hover {
            transform: scale(1.05);
        }

        @media (min-width: 992px) {
            font-size: 2.5rem;
        }
    }

    .nav-link {
        color: #000;

        &:hover {
            font-weight: 500;
        }

        @media (min-width: 992px) {
            font-size: 1.5rem;
        }
    }

    .navbar-toggler-icon {
        color: #000;
    }

    @media (min-width: 992px) {
        height: 80px;
    }
    @media (min-width:  px) {
        
    }
    @media (min-width:  px) {
        
    }
    
}
